torch
transformers
ffmpeg
ffmpeg-python
timm
datasets
evaluate
scikit-learn
pandas
peft
accelerate
autoawq
optimum
bitsandbytes
jiwer
soundfile
librosa
gradio
trl
openai
langchain
langchain-openai
langchain-core
langchain-community
